<div class="row">
  <div class="large-9 small-12 columns">
    <div id="project-info">
      <h4>PROJECT INFO</h4>

      <p>Name: {{name}}</p>

      <p>Creator: {{link-to user.fullName 'users.show' user }}</p>

      <div id="description">
        Description: {{description}}
      </div>
    </div>

    <h4>TASKS</h4>

    {{#if canEdit}}
      {{ render 'tasks.new' task }}
    {{/if}}

    <ul id="tasks-list" class="item-list">
      {{#each task in tasks}}
        {{task-list-item task=task}}
      {{/each}}
    </ul>
  </div>
</div>
