<h3>{{name}}</h3>

<h5>Orchestrated by {{link-to user.fullName 'users.show' user }}</h5>

<div id="description">
  {{description}}
</div>

<h4>Tasks</h4>

<ul id="tasks-list">
  {{#each task in tasks}}
    <li class="project-task">{{task.name}}</li>
  {{/each}}
</ul>

{{ render 'tasks.new' }}
