<div id="page">
  <div id="sidebar" class="sliding-menu-content">
    <h2 id="title">Mastermind</h2>

    {{#if session.isAuthenticated}}
      <h3>Welcome, {{session.currentUser.firstName}}!</h3>
    {{/if}}

    <ul>
      <li>{{link-to 'Projects' 'projects.index'}}</li>
      <li>{{link-to 'Users' 'users.index'}}</li>

      {{#if session.isAuthenticated}}
        <li>{{link-to 'Add a project' 'projects.new'}}</li>
        <li><a href="#" {{ action 'invalidateSession' }}>Logout</a></li>
      {{else}}
        <li>{{link-to 'Login' 'login'}}</li>
        <li>{{link-to 'Sign Up' 'sign-up'}}</li>
      {{/if}}
    </ul>
  </div>

  <div id="content">
    {{outlet}}
  </div>
</div>
