{{#if task.completedAt}}
  <label>{{fa-icon 'check-square-o' size='lg'}}</label>
  <button class='button small' {{action 'markTaskIncomplete'}}>{{task.name}}</button>
{{else}}
  {{#if task.project.canEdit}}
    <label>{{fa-icon 'fa-square-o' size='lg'}}</label>
    <button class='button small' {{action 'markTaskComplete'}}>{{task.name}}</button>
  {{/if}}
{{/if}}
